@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Montserrat", serif;
    font-weight: 500;
}

body {
    margin: 0;
    background: #333;
}

#todoCard{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.2s ease-in-out, transform 0.5s ;
}
#todoCard.fade-out {
    opacity: 0;
    transform: translateX(-20px);
}
